@model IEnumerable<Cafe_Site.ViewModels.ProductInfoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

@* <h2>Index</h2> *@

<p>
    <a asp-action="Add">Add Product</a>
</p>
<table class="table text-center text-light">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Product_Name)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Product_Type)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Product_Quantity)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Product_Description)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.SPrice)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.MPrice)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.LPrice)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Product_Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Product_Type)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Product_Quantity)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Product_Description)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.SPrice)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.MPrice)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.LPrice)
            </td>
            <td class="align-middle">
                @* @Html.DisplayFor(modelItem => item.Product_Image) *@
                <img src="data:image/png;base64,@item.Product_Image" alt="@item.Product_Name Image" style="height:50px">
            </td>
            <td class="align-middle">
                @Html.ActionLink("Update", "Update", new { id = item.Product_Id }) |
                <button type="button" class="bg-transparent text-danger border-0" onclick="ShowModal(@item.Product_Id)">Delete</button>
                    @* <a href="" onclick="ShowModal(@item.Product_Id)">Delete</a> *@
                @* @Html.ActionLink("Delete", "Delete", "AdminDashboard", new { id = item.Product_Id }, new { onclick = $"ShowModal({item.Product_Id})" }) *@
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="m1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
                Are You Sure You Want To Delete This Product?
            </div>
            <div class="modal-footer" id="mf">
                @*                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary">Yes</button> *@
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function ShowModal(id) {
            var modal = new bootstrap.Modal(document.getElementById('m1'));

            var b1 = document.createElement("a");
            var b2 = document.createElement("a");

            b1.classList = "btn btn-secondary";

            b2.classList = "btn btn-primary";

            b1.innerText = "No";
            b2.innerText = "Yes";

            b1.setAttribute("data-bs-dismiss", "modal");
            b2.setAttribute("href", `/AdminDashboard/Delete/${id}`);

            var mf = document.getElementById('mf');

            mf.innerHTML = "";

            mf.append(b1, b2);

            modal.show();
        }
    </script>
}