@model Cafe_Site.ViewModels.MenuViewModel


  <!DOCTYPE HTML>
  <html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tasty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

    <style>
        .pagination-container {
            font-family: "Satisfy", cursive;
            margin-top: 20px;
            text-align: center; /* Center the pagination */
        }

            .pagination-container ul.pagination li a,
            .pagination-container ul.pagination li span, .filter-button {
                color: #ffffff; /* Text color */
                background-color: #BE9C79; /* Yellow background color */
                border: 1px solid #BE9C79; /* Darker yellow border */
                padding: 5px 10px; /* Padding */
                margin: 0 5px; /* Margin between items */
                border-radius: 4px; /* Rounded corners */
            }

            .pagination-container ul.pagination li.active span, .filter-button.active, .filter-button[disabled]:hover {
                background-color: black; /* Gray background for active page */
                border-color: #555555; /* Darker border for active page */
            }

            .pagination-container ul.pagination li.disabled span,
            .pagination-container ul.pagination li.disabled a{
                color: #aaaaaa; /* Disabled text color */
                background-color: #ffffff; /* Disabled background color */
                border-color: #dddddd; /* Disabled border color */
            }

            .pagination-container ul.pagination li a:hover, .filter-button:hover {
                background-color: darkgoldenrod /* Darker yellow on hover */
            }

            .row {
                overflow: hidden;
            }

        #parView {
            text-align: left;
        }
    </style>

  </head>

  <body>

    <div class="fh5co-loader"></div>

    <div id="page">
      <nav class="fh5co-nav" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center logo-wrap">
              <div id="fh5co-logo"><a href="index.html">Tasty<span>.</span></a></div>
            </div>
            <div class="col-xs-12 text-center menu-1 menu-wrap">
              <ul>
                <li><a href="/Home">Home</a></li>
                <li class="active"><a href="/Menu">Menu</a></li>
                <li><a href="/Gallery">Gallery</a></li>
                <li><a href="/Contact/Contact">Contact</a></li>
                <li><a href="/About/About">About</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li id="adminlink"><a href="/AdminDashboard/index">Admin Dashboard</a></li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("User"))
                {
                    <li><a href="/Cart">Cart</a></li>
                }
                <partial name="_LoginPartial">
              </ul>
            </div>
          </div>

        </div>
      </nav>

      <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner"
        style="background-image: url(images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="display-t js-fullheight">
                <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                  <h1>See <em>Our</em> Menu</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

        <div id="fh5co-featured-menu" class="fh5co-section" style="padding-bottom: 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 fh5co-heading animate-box">
                        <h2>Our Delicous Menu</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    Join us for lunch or dinner and immerse yourself in a warm and inviting atmosphere, where attentive service meets unforgettable flavors. We look forward to serving you soon!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center" id="ProFilters" style="margin-bottom:50px; font-family: 'Satisfy', cursive;">
                        <button class="filter-button" data-filter="All" id="All">All</button>
                        <button class="filter-button" data-filter="Hot Drinks" id="Hot Drinks">Hot Drinks</button>
                        <button class="filter-button" data-filter="Cold Drinks" id="Cold Drinks">Cold Drinks</button>
                        <button class="filter-button" data-filter="Deserts" id="Deserts">Deserts</button>
                        <button class="filter-button" data-filter="Pastry" id="Pastry">Pastry</button>
                    </div>

                    <div id="parView">
                        <partial name="_ProductsPartial" />
                    </div>
              </div>
            </div>
          </div>
        </div>
    <div class="pagination-container text-center" id="container">
        @if (Model.TotalPages > 1)
        {
            <ul class="pagination">
                @if (Model.CurrentPage > 1)
                {
                    <li><a href="#" class="pagination-link" data-page="@(Model.CurrentPage - 1)">Previous</a></li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <li class="active"><span>@i</span></li>
                    }
                    else
                    {
                        <li><a href="#" class="pagination-link" data-page="@i">@i</a></li>
                    }
                }

                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li><a href="#" class="pagination-link" data-page="@(Model.CurrentPage + 1)">Next</a></li>
                }
            </ul>
        }
    </div>
      </div>
      <div id="fh5co-featured-testimony" class="fh5co-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12 fh5co-heading animate-box">
              <h2>Testimony</h2>
              <div class="row">
                <div class="col-md-6">
                   <p>Join us and discover why our guests love dining with us!</p>
                </div>
              </div>
            </div>

            <div class="col-md-5 animate-box img-to-responsive">
                    <img src="images/test1.jpg" alt="" style="object-fit: cover; width: 800px;height:800px;">
            </div>
            <div class="col-md-7 animate-box">
              <blockquote>
                        <p>&ldquo; Absolutely divine! From the tantalizing starters to the decadent desserts, every bite was a delight. The meticulous attention to detail and dedication to excellence shine through in each dish. I'm already planning my next visit! &rdquo;</p>
                        <p class="author"><cite>&mdash; Sarah M</cite></p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>

    <footer id="fh5co-footer" role="contentinfo" class="fh5co-section">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-4 fh5co-widget">
                    <h4>Tasty</h4>
                    <p>Explore our website to discover a world of culinary delights and exciting dining experiences. With easy navigation and user-friendly features, finding your favorite dishes and making reservations has never been simpler.</p>
                </div>
                <div class="col-md-2 col-md-push-1 fh5co-widget">
                    <h4>Links</h4>
                    <ul class="fh5co-footer-links">
                        <li><a href="home">Home</a></li>
                        <li><a href="/about/about">About</a></li>
                        <li><a href="menu">Menu</a></li>
                        <li><a href="gallery">Gallery</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-md-push-1 fh5co-widget">
                    <h4>Categories</h4>
                    <ul class="fh5co-footer-links">
                        <li><a href="/menu?filter=Hot%20Drinks">Hot Drinks</a></li>
                        <li><a href="/menu?filter=Cold%20Drinks">Cold Drinks</a></li>
                        <li><a href="/menu?filter=Deserts">Deserts</a></li>
                        <li><a href="/menu?filter=Pastry">Pastry</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-md-push-1 fh5co-widget">
                    <h4>Contact Information</h4>
                    <ul class="fh5co-footer-links">
                        <li>198 West 21th Street, <br> ITI 721 Cairo CR 10016</li>
                        <li><a href="tel://01234567891">+20 123 4567 891</a></li>
                        <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                    </ul>
                </div>

            </div>

            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2024 All Rights Reserved.</small>
                    </p>
                    <p>
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter2"></i></a></li>
                            <li><a href="#"><i class="icon-facebook2"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
    </div>

    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.stellar.min.js"></script>
    <!-- Flexslider -->
    <script src="js/jquery.flexslider-min.js"></script>
    <!-- Main -->
    <script src="js/main.js"></script>
    <script>
        $(document).ready(function () {
            var f = @Html.Raw(Json.Serialize(Model.Filter));
            //var totalPages = Html.Raw(Json.Serialize(Model.TotalPages)));
            window.scrollTo(0, 0);

            document.getElementById(f).classList.add("active");
            document.getElementById(f).setAttribute("disabled", "true");
            // $(`#${f}`).prop('disabled', true);
            
            console.log("Filter = ", f);
            if (f != "All") {
                // console.log("testesttesttesttesttest");
                document.getElementById("ProFilters").focus();
                setTimeout(() => document.getElementById("ProFilters").scrollIntoView({
                    behavior: 'smooth',
                    block: 'center'
                }), 200);
                // document.getElementById("ProFilters").scrollIntoView({
                //     behavior: 'smooth',
                //     block: 'center'
                // });

                // console.log("tt2t2t2t22t2t22t2t2t2");
            }

            // setTimeout(() => MakeAjaxCall(), 2000);
            MakeAjaxCall();

            $(".filter-button").on('click',function (e) {
                var value = $(this).attr('data-filter');

                // if (value == "All") {
                //     $('.filter').show('1000');
                // }
                // else {
                //     $(".filter").not('.' + value).hide('3000');
                //     $('.filter').filter('.' + value).show('3000');
                // }

                $(".filter-button").removeClass("active");
                $(".filter-button").prop('disabled', false);
                $(this).addClass("active");
                $(this).prop('disabled', true);

                // $(this).addClass("disabled");
                e.preventDefault(); 
                MakeAjaxCall();
            });

            $("#container").on('click', '.pagination-link', function (e) {
                e.preventDefault(); // Prevent default navigation behavior
                MakeAjaxCall(this);
            });
        });

        function MakeAjaxCall(p){
            var page = $(p).data("page");
            var url = '/menu/getproducts';
            var filter = $(".filter-button.active").data("filter");

            console.log("Fetching page:", page);
            console.log("URL:", url);
            console.log("Data:", { page: page });

            $.ajax({
                //url: url,
                url: `/menu/getproducts?page=${page}&pageSize=4&filter=${filter}`,
                type: "GET",
                // data: {
                //     page: page,
                //     filter: filter
                // },
                beforeSend: function () {
                    // Show loading spinner or message
                },
                success: function (result) {
                    console.log("AJAX Response:", result);

                    var newContent = result;

                    // Check if newContent is defined
                    if (newContent) {
                        // Update image URLs to force reload
                        var timestamp = new Date().getTime();

                        $("#parView").html(newContent);
                        var i = 0;

                        $(".problem").waypoint(function (direction) {

                            if (direction === 'down' && !$(this.element).hasClass('animated-fast')) {

                                i++;

                                $(this.element).addClass('item-animate');
                                setTimeout(function () {

                                    $('body .animate-box.item-animate').each(function (k) {
                                        var el = $(this);
                                        setTimeout(function () {
                                            var effect = el.data('animate-effect');
                                            if (effect === 'fadeIn') {
                                                el.addClass('fadeIn animated-fast');
                                            } else if (effect === 'fadeInLeft') {
                                                el.addClass('fadeInLeft animated-fast');
                                            } else if (effect === 'fadeInRight') {
                                                el.addClass('fadeInRight animated-fast');
                                            } else {
                                                el.addClass('fadeInUp animated-fast');
                                            }

                                            el.removeClass('item-animate');
                                        }, k * 200, 'easeInOutExpo');
                                    });

                                }, 100);

                            }

                        }, { offset: '85%' });

                        var newPage = document.getElementById("products-section").getAttribute("data-current-page");
                        var totalPages = document.getElementById("products-section").getAttribute("data-total-pages");

                        // Update pagination links
                        updatePaginationLinks(newPage, totalPages);
                    } else {
                        console.log("Error: New content is undefined");
                    }
                },


                error: function (error) {
                    console.log("Error:", error);
                    console.log("Error Response:", error.responseText);
                }
            });
        }

        function updatePaginationLinks(currentPage, totalPages) {
            // Clear existing pagination links
            $(".pagination-container").empty();

            // Create new pagination links
            var paginationContainer = $(".pagination-container");
            var paginationList = $("<ul>").addClass("pagination");

            console.log("currentPage " + currentPage);
            console.log("totalPages " + totalPages);
            
            // Previous button
            if (Number(currentPage) > 1) {
                var prevLink = $("<li>").append($("<a>").addClass("pagination-link").attr("href", "#").attr("data-page", Number(currentPage) - 1).text("Previous"));
                paginationList.append(prevLink);
            }

            // Numbered pages
            for (var i = 1; i <= Number(totalPages); i++) {
                var pageLink = $("<li>").append($("<a>").addClass("pagination-link").attr("href", "#").attr("data-page", i).text(i));
                if (i === Number(currentPage)) {
                    pageLink = $("<li>").addClass("active").append($("<span>").text(i));
                }
                paginationList.append(pageLink);
            }

            // Next button
            if (Number(currentPage) < Number(totalPages)) {
                var nextLink = $("<li>").append($("<a>").addClass("pagination-link").attr("href", "#").attr("data-page", Number(currentPage) + 1).text("Next"));
                paginationList.append(nextLink);
            }

            // Append pagination links to container
            paginationContainer.append(paginationList);
        }

    </script>

  </body>

  </html>