@{
    Layout = "~/Views/Shared/_CustomProductDetailsLayout.cshtml";
}
@model ProductDetailsModel



<link href="~/css/all.css" rel="stylesheet" />
<style>
    .add:hover
    {
        cursor:pointer;
    }
    
</style>
<!--header start-->
<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url('/images/hero_1.jpeg'); height: 702px; background-position: 0px 0px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="display-t js-fullheight" style="height: 702px;">
                    <div class="display-tc js-fullheight animate-box fadeIn animated-fast" data-animate-effect="fadeIn" style="height: 702px;">
                        <h1>Product Details</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--header end-->
<!--  alert start -->
<div class="modal fade"   id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content" style="background-color:#3F3F3F;">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Alert</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-white">
               
            </div>
            <div class="modal-footer">
                <button type="button" class=" modalBtn border-0 px-4 rounded-1" style="background-color:#106EBE; color:antiquewhite" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!--  alert end -->
<div class="product-details row w-100 p-3 d-flex flex-row ">
    <!--product img start-->
    <div class="prodimg col-md-6">
        <div class="row w-100 m-auto d-flex flex-row justify-content-center">
            <div class="col">
                <img class="prodImg img-responsive w-100 mb-5 p-5" src="data:image/png;base64,@Convert.ToBase64String(Model.Product.Product_Image ?? new byte[0])" alt="...">

            </div>
        </div>
    </div>
    <!--product img end-->

    <div class="col-md-6  d-flex flex-column align-items-center align-items-md-start p-3">  
                <h1 class="name text-white-50" >@Model.Product.Product_Name</h1>

                <h4 class="price font-monospace"
                    style="color: #BE9C79;">
                        @Model.productSizePrices[Model.productSizePrices.Count-1].Price.ToString("0.00") $
                </h4>
                <!--size start-->
                <p class="size fw-bolder" style=" color: #BE9C79;">
                    Size: <span class="fw-light text-white-50">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            @for (var i = 0; i < Model.productSizePrices.Count; i++)
                            {
                        <input type="radio" class="sizeInput btn-check" name="size" value="@Model.productSizePrices[i].Size" id="btnradio @(i+1)" autocomplete="off" checked>
                        <label class="sizeLabel btn btn-outline-light" for="btnradio @(i+1)">@Model.productSizePrices[i].Size</label>
                            }
                        </div>
                 
                    </span>
                </p>
                <!--size end-->
                <!--addToCard start-->
                <div class="addToCardBtn row">
                    <div class="col-12">
                        <button  class="addToCart btn p-3 h-100 text-white border-0 rounded-2" data-bs-toggle="modal" data-bs-target="#exampleModal" type="submit" name="product" value="@Model.Product.Product_Id" style="background-color: #BE9C79;">ADD TO CART</button>
                    </div>
                </div>
            
                <!--addToCard end-->
                <!--Tabs start-->
                <nav class="tabs mt-5 mx-auto mx-md-0">
                    <div class="nav nav-tabs d-flex flex-row flex-nowrap w-auto " id="nav-tab" role="tablist">
                        <button class="nav-link active px-3 fs-4 " style="color:#BE9C79" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
                        <button class="nav-link px-3 fs-4" id="nav-profile-tab" style="color:#BE9C79" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Additions</button>
                        <button class="nav-link px-3 fs-4" id="nav-contact-tab" style="color:#BE9C79" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Review</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <!--description start-->
                    <div class="Desc tab-pane fade show active text-white-50 m-auto" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                        <p class="desc_website text-center text-md-start text-white-50 mt-4">@Model.Product.Product_Description</p>

                    </div>
                    <!--description end-->
                    <!--Additions start-->
                    <div class="Adds tab-pane fade p-2" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                        <div class="row  m-auto">
                            <label class="fs-4 mt-3 ">Choose Additions</label>
                           
                        </div>
                        <div class="row m-auto d-flex flex-row justify-content-around ">
                            <div class="cartproducts col p-auto ms-2">
                                @for(int i=0; i<Model.AddProducts.Count; i++)
                                {
                                    <div class="addedprod row " id="@Model.AddProducts[i].Product_Id">
                                       
                                        <div class="col-3 d-flex flex-row justify-content-between align-items-center ">
                                    <img class="prodImg w-100 h-75 rounded-circle " src="data:image/png;base64,@Convert.ToBase64String(Model.AddProducts[i].Product_Image ?? new byte[0])" style="aspect-ratio:1/1" alt="...">
                                        </div>
                                        <div class="col-4 d-flex flex-row justify-content-between align-items-center">
                                            <h6 class="prodName text-white mb-0">@Model.AddProducts[i].Product_Name</h6>
                                        </div>
                                        <div class="col-2 d-flex flex-row justify-content-between align-items-center">
                                            <h6 class="prodPrice fs-6 font-monospace mb-0 " style="color:#BE9C79">@Model.AddProducts[i].Product_Size_Prices[0].Price</h6>
                                        </div>
                                         <div class="col-2 d-flex flex-row justify-content-between align-items-center align-self-center ms-5 ms-sm-0 mb-3 mb-sm-0">
                                            <input class="additions d-inline w-auto invisible " id=@i name="productAdds" value="@Model.AddProducts[i].Product_Id" type="checkbox" />
                                            <label class="add d-inline w-auto" for=@i><i class="fa-regular fa-square-plus fa-lg" style="color: #1d9d1b;"></i></label>
                                    </div>
                                    </div>
                                }

                            </div>

                        </div>
                    </div>
                    <!--Additions end-->
            
            
                    <!--review start-->
                    <div class="Review tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                        <div class="row m-auto  ps-5 ps-md-0">
                            <div class="col d-flex flex-column justify-content-center">
                                @for (int i = 0; i < Model.productReviews.Count; i++)
                                {
                                    <div class="row  border-2 border-light ps-3">
                                        <div class="col">
                                            <h3 class="username text-white mb-0 mt-4 text-wrap">@Model.productReviews[i].User_Name</h3>
                                            <label class="ratenum" style="color:#BE9C79">@Model.productReviews[i].Product_Rate out of 5</label>
                                            <p class="fs-4 text-wrap "> @Model.productReviews[i].Product_Review</p>
                                            <hr class="text-white wider" />
                                        </div>
                                    </div>
                                }
                            </div>
                           
                        </div>
                        <div id="respond" class="row m-auto  ps-5 ps-md-0 comment-respond mt-5 ">
                            <div class="col m-3">
                                <span id="reply-title" class="comment-reply-title fs-4">Add a review <small><a rel="nofollow" id="cancel-comment-reply-link" href="/product/french-press/#respond" style="display:none;">Cancel reply</a></small></span>
                                    <div class="rate">
                                        <input class="d-none" type="radio" id="star1" name="rate" value="1" />
                                        <label id="1" for="star1" title="text" style="display: inline-block; font-size: 40px; color: #878787;">★</label>
                                        <input class="d-none" type="radio" id="star2" name="rate" value="2" />
                                        <label id="2" for="star2" title="text" style="display: inline-block; font-size: 40px; color: #878787;">★</label>
                                        <input class="d-none" type="radio" id="star3" name="rate" value="3" />
                                        <label id="3" for="star3" title="text" style="display: inline-block; font-size: 40px; color: #878787;">★</label>
                                        <input class="d-none" type="radio" id="star4" name="rate" value="4" />
                                        <label id="4" for="star4" title="text" style="display: inline-block; font-size: 40px; color: #878787;">★</label>
                                        <input class="d-none" type="radio" id="star5" name="rate" value="5" />
                                        <label id="5" for="star5" title="text" style="display: inline-block; font-size: 40px; color: #878787;">★</label>

                                    </div>
                                    <label class="d-block fs-4" for="message">Your review*</label>
                                    <textarea class="reviewMsg border-whitform-control-feedback" id="message" name="review" rows="4" cols="30" required></textarea>
                                    <span class="reviewError text-danger invisible d-block" >you must rate the product and write the review</span>
                                    <button class="addReview btn btn-light d-block text-white px-3 mt-2 fs-5 rounded-1 form-control w-auto h-auto "  style="background-color: #BE9C79;" type="submit" name="id" value="@Model.Product.Product_Id">Send Review</button>
                            </div>
                        </div>
                    </div>
                    <!--review end-->
                </div>
                <!--Tabs end-->
       
    </div>
@section scripting{
    <script>
        


        /** set rating */
        let stars = document.getElementsByClassName("rate")[0].getElementsByTagName("label");
        let rate=0;
        console.log(stars);
        $(stars).hover(function () {
            let hovered = $(this).attr("id");
            for (var i = 0; i < hovered; i++) {
                $(stars[i]).attr("style", "font-size: 40px; color: #f9f21a")
            }
        }, function(){
            for (var i = rate; i < 5; i++) {
                $(stars[i]).attr("style", "font-size: 40px; color: #878787")
            }
        })
        $(stars).on("click", function () {
            for (var i = 0; i < 5; i++) {
                $(stars[i]).attr("style", "font-size: 40px; color: #878787")
            }
            rate = $(this).attr("id");
            for (var i = 0; i < rate; i++) {
                $(stars[i]).attr("style", "font-size: 40px; color: #f9f21a")
            }
        })

        $(".sizeLabel").on("click", function () {
            var size = $(this).html();
            console.log(this);
            if (size == "M")
                    $(".price").text(@Model.productSizePrices.Where(x => x.Size == 'M' && x.Product_Id == Model.Product.Product_Id).Select(p => p.Price.ToString("0.00")).FirstOrDefault()+" $");
            else if(size == "S")
                    $(".price").text(@Model.productSizePrices.Where(x => x.Size == 'S' && x.Product_Id == Model.Product.Product_Id).Select(p => p.Price.ToString("0.00")).FirstOrDefault()+" $");
            else
                    $(".price").text(@Model.productSizePrices.Where(x => x.Size == 'L' && x.Product_Id == Model.Product.Product_Id).Select(p => p.Price.ToString("0.00")).FirstOrDefault()+" $");

        })

        $(".additions").on("click", function () {
                
            var id = $(this).attr("id");
            console.log($(this).siblings("label").first());
            if (this.checked) { 
                $(this).siblings("label").html("<i class='fa-regular fa-trash-can fa-xl' style='color: #de1717; '></i>")
            }
            else
            {
                $(this).siblings("label").html("<i class='fa-regular fa-square-plus fa-xl' style='color:#1d9d1b'></i>")
            }
        })


        $(".addToCart").on("click", function () {
            console.log("buttonAddtoCart");
            var productId = @Model.Product.Product_Id; // Assuming you're passing the product ID to the view model
            var size = $('.sizeInput:checked').val(); // Assuming the size is selected from a dropdown
            var productAdds = [];
            $('.additions:checked').each(function () {
                productAdds.push($(this).val());
            });

                console.log(productId)
                console.log(size)
                console.log(productAdds)

        $.ajax({
            url: '@Url.Action("addProductToCart", "ProductDetails")',
            type: 'POST',
            data: {
                product: productId,
                size: size,
                productAdds: productAdds
            },
            success: function (result) {
                if (result.success) {
                   
                    $(".modal-body").html("Product added to cart successfully!");
                           
                } else {
                    
                    $(".modal-body").html("This product is not avalible now");
                }
            },
            error: function () {
                    $(".modal-body").html("Error occurred while adding product to cart.");
            }
        });
    });

        $(".addReview").on("click", function () {
            var rate = $(".rate>input:checked").val();
           
            var review = $(".reviewMsg").val();

            
           
                    $.ajax({
                        url: '@Url.Action("review", "ProductDetails")',
                        type: 'POST',
                        data: {
                            rate: rate,
                            review: review,
                            id: @Model.Product.Product_Id
                                },
                        success: function (result) {
                       
                            if (result.success == "empty") {

                                $(".reviewError").removeClass("invisible");
                            }
                        else if (result.success == "Your review is added successfully!")
                            {
                                $("#exampleModal").modal("show");
                                $(".modal-body").html(result.success);
                                $(".modalBtn").on("click", function () {
                                    location.reload();
                                })

                            }
                            else {
                                $("#exampleModal").modal("show");
                                $(".modal-body").html(result.success);
                                

                            }
                           
                        },
                        error: function () {
                        $("#exampleModal").modal("show");
                            $(".modal-body").html("Error occurred while adding review .");

                        }
                    });

                $('.rate>input').prop('checked', false);
                $(".rate>label").css("color", "#878787");
                $(".reviewMsg").val("");


                
        });
    </script>
    
}
